{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12">
            <h3>A shopping food ordering software</h3>
            <p>The clients in the food industry have a wide range of food 
                from different countries, season, and cooking style.</p>
            <p>Gone are the days of spending your afternoon hours during the business day, 
                meticulously picking up each meal from each food store, carefully crafting
            </p>
        </div>
    </div>
</div>
{% endblock content %}


