<!-- Footer -->
<footer class="text-center text-white bg-info">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: CTA -->
            <div class="d-flex justify-content-center align-items-center">
                © 2020 Copyright: <a class="text-white" href="http://localhost:8000"> Food Ordering</a>
                <a href="accounts/login" class="btn btn-outline-light" style="border-radius: 1.5rem; padding-top: 0.3rem; padding-bottom: 0.3rem;">
                    Login
                </a>
            </div>
        <!-- Section: CTA -->
    </div>

</footer>
<!-- Footer -->