{% extends 'restaurant/base.html' %}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 text-center mt-3">
            <h3>Order ID: {{order.pk}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col mt-3">
            <h5 class="pt-3">Customer Information:</h5>
            <p><span style="font-weight: 400;">Name: </span> {{order.name}}</p>
            <p><span style="font-weight: 400;">Email: </span> {{order.email}}</p>
        </div>
        <div class="col mt-3">
            <h5 class="pt-3">Address Information:</h5>
            <p><span style="font-weight: 400;">Street: </span> {{order.street}}</p>           
            <p><span style="font-weight: 400;">Ward: </span> {{order.ward}}</p>
            <p><span style="font-weight: 400;">District: </span> {{order.district}}</p>
            <p><span style="font-weight: 400;">City: </span> {{order.city}}</p>
        </div>
        <div class="col mt-3">
            <h5 class="pt-3">Payment and Shipping Information</h5>
            <p>
                {%if order.is_paid%}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Order has been paid!</span></p>
                {%else%}
                <p><i style="color: red;" class="fas fa-times"></i><span class="pl-2">Order has not been paid!</span></p>
                {%endif%}
                {%if order.is_shipped%}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Order has been shipped!</span></p>
                {%else%}
                <form method="POST">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-outline-success">Mark as shipped</button>
                </form>
                {%endif%}
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 text-center">
            <h4 class="pt-3">Order Summary:</h4>
            <table class="table table-hover table-stripped">
                {% for item in order.items.all %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.price }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            
            <p class="font-weight-bold pt-1">Total: {{ order.price }}</p>
        </div>
    </div>
</div>
{% endblock content %}
